version: '3'
services:
    gomoku_express:
        image: ptorn/bth-ramverk2-gomoku:latest

        environment:
            - DBWEBB_DSN=mongodb://gomoku_mongodb:27018/gomoku
        user: "node"
        working_dir: /home/node/app
#        volumes:
#            - ./:/home/node/app
#            - /home/node/app/node_modules
#            - /home/node/app/client/node_modules
        ports:
            - "4000:3000"
        links:
            - gomoku_mongodb
        command: "npm start"

    gomoku_mongodb:
        image: mongo
        environment:
            - MONGO_DATA_DIR=/data/db
        volumes:
            - ./data/db:/data/db
        ports:
            - 27017:27017
        command: mongod --bind_ip_all
