@footerFontColor: #ffffff;
@footerBgColor: #222222;
@footerLinkColor: #ffffff;


html,
body {
  height: 100%;
  // background-color: #CAC7C6;
}

/*
 * Margins
 */

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.ml-0 {
    margin-left: 0px;
}

.pl-0 {
    padding-left: 0px;
}

.mr-0 {
    margin-right: 0px;
}

.pr-0 {
    padding-right: 0px;
}

/*
Position
 */

 .center {
    text-align: center;
}

.image-center {
    margin: 0px auto;
}

.navbar {
    // background-color: #303B4D;
    background-image: linear-gradient(to bottom, #444444, #000000);
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 6px #333333;
    color: #e7e7e7;
    margin-bottom: 0px;

    .navbar-brand {
        color: #e7e7e7;
        font-weight: bold;
    }

    li a.nav-link {
        color: #e7e7e7;
    }

    li a.nav-link:hover {
        color: #c3c3c3;
    }

    li a.active.nav-link {
        background-image: linear-gradient(to bottom, #e7e7e7, #c3c3c3);
    }

    .navbar-collapse {
        border-top: 0px;
    }

    ul.dropdown-menu li a.nav-link {
        color: #555555;
    }
}

button {
    font-weight: bold;
}

.root {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-image: url('images/background.jpg');
    background-size: cover;
    color: #f3f3f3;
}

.container-fluid {
    margin-bottom: 75px;
    margin-left: 0px;
    margin-right: 0px;
    min-height: calc(~'100vh - 125px');
    padding: 0px;
}

.container {
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    min-height: 80vh;

    button {
        color: #333333;
    }

    input {
        color: #333333;
    }
}

.gomoku-table {
    background-color: #000000;

    td {
        height: 30px;
        text-align: center;
        vertical-align: middle;
        width: 30px;
    }
}

.center-div {
    bottom: 0px;
    left: 0px;
    margin: auto;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
}

.login {
    background-color: #000000;
    border-radius: 10px;
    font-weight: bold;
    height: 200px;
    padding: 40px;
    width: 400px;
    z-index: 1;
}

.start-game {
    background-color: #f3f3f3;
    border-radius: 10px;
    color: #000000;
    height: 220px;;
    padding: 20px 30px;
    width: 400px;
    z-index: 2;

    button {
        background-image: linear-gradient(to bottom, #464646, #242424);
        border-radius: 20px;
        box-shadow: 0px 0px 6px #333333;
        color: #f3f3f3;
        font-weight: bold;
        padding: 20px;
    }
}

.chat-section {
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 5px;
    margin: 20px 0px;
    min-height: 240px;
    padding: 0px;
}

.chat-window {
    margin: 20px 0px;

    .message-window {
        height: 130px;
        overflow-Y: auto;
    }

    .chat-input-field {

        input {
            width: calc(~'100% - 70px');
        }

        button {
            width: 70px;
        }
    }

    ul {
        padding-left: 0px;

        li {
            list-style: none;
        }
    }
}

.user-window {
    margin-bottom: 20px;
    overflow-y: auto;
    padding: 20px 0px 20px 20px;

    h4 {
        font-weight: bold;
        text-decoration: underline;
        text-decoration-style: dashed;
    }

    ul {
        padding-left: 0px;

        li {
            list-style: none;
        }
    }
}

.history-container {

    button {
        margin: 0px 0px 20px 0px;
        width: 100%;
    }

    .history {

        .history-list {
            margin-bottom: 20px;
            padding: 0px;

            li {
                list-style: none;
            }
        }



    }
}

.footer {
    align-items: center;
    background-color: @footerBgColor;
    background-image: linear-gradient(to bottom, #222222, #000000);
    color: @footerFontColor;
    display: flex;
    height: 75px;
    justify-content: center;
    margin-top: -75px; /* negative value of footer height */
    overflow: auto;

    a {
        color: @footerLinkColor;
    }

    .block.site-footer {
        text-align: center;

        ul {
            padding: 0px;

            li {
                display: inline;
                list-style: none;
                margin-right: 10px;

                a:link {
                    font-weight: bold;
                    text-decoration: none;
                }
            }

            li:last-child {
                margin-right: 0px;
            }
        }
    }
 }
